/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Myriad Pro";
}
body {
    background:url('../img/25.png');
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*header*/
.container {
    background: #fff;
}
.header-top {
    height: 100px;
}
.logo-bg {
    background: url('../img/cd-intro-bg.jpg') no-repeat;
    height: 600px;
}
#logo {
    margin: 15px 60px;
}
.accordion {
    width: 100px;
    float: right;
    margin: 15px;
    color: white;
    font-family: "Myriad Pro";
    font-size: 16pt;
}
.accordion img {
    width: 20px;
    height: 15px;
}
span.index-title {
    text-align: center;
    vertical-align: middle;
    display: block;
    line-height: 600px;
    color: white;
    font-size: 50pt;
    background: url(../img/animated-bg.png) no-repeat center center;
}
/*How we are*/
.title {
    margin: 20px;
    color: #d4af37;
    font-size: 13pt;
    text-align: center;
    text-transform: uppercase;
}
.title-lvl1 {
    font-size: 44pt;
    text-align: center;
    color: rgb(77, 92, 102);
    text-transform: capitalize;
    margin-bottom: 50px;

}
.content p {
    text-align: center;
    width: 79%;
    margin: 20px auto;
    font-size: 18pt;
}
button {
    background: none;
    border: 1px solid black;
    padding: 20px 55px;
}
.btn-ctr {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.block-2 {
    margin: 100px 0 ;
}
.photos .row {
    margin-left: 20px;
    margin-right: -11px;
}
.image-4 {
    width: 24%;
    overflow: hidden;
    display: inline-block;
    background: black;
}
.image-4 img {
    width: 100%;
    height: 250px;
}
.image-4 img:hover {
    opacity: 0.7;
}
.cd-container-people {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.people {
    margin: 5px;
    width: 30%;
    display: inline-block;
    background: rgb(249,249,249);
}
.avatar {
    text-align: center;
}
.avatar img {
    width: 100%;
}
.info .title {
    text-align: left;
}
.people-name {
    font-size: 19pt;
    color: rgb(162,169,174);
    font-family: @Mariad pro;
    padding: 0 10px;
}
.info p {
    width: 90%;
    margin: 15px auto 30px;
}
.cd-container-home-blog {
    background: #F9F9F9;
    width: 78%;
    margin: 0 auto;
}
.side {
    width: 49%;
    display: inline-block;
}
.side img {
    width: 100%;
}
.side.right {
    padding: 47px;
    vertical-align: top;
}
span.date {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}
span.news-title {
    font-size: 30px;
    color: #4D5C66;
}
p.news-description {
    font-size: 16px;
    color: #5A646B;
}
.side.right button {
    transform: translateY(10px);
}
.map {
    display: flex;
    justify-content: center;
}
.right-col, .left-col {
    width: 50%;
    text-align: center;
    padding: 20px 0;
}
.row-table {
    display: flex;
    justify-content: center;
}
.contact {
    width: 750px;
    background: rgb(250,250,250);
    margin: 0 auto 50px;
}
span.table-title {
    line-height: 50px;
    font-weight: bolder;
}
.left-col p, .right-col p {
    padding: 0 30%;
}
footer.container {
    background: rgb(238,238,238);
    line-height: 60px;
}
.copyright {
    width: 60%;
    display: inline-flex;
    justify-content: center;
}
.contact-email {
    width: 39%;
    display: inline-flex;
    justify-content: center;
}
/*dropDownMenu*/

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dropdown {
    position: relative;
    z-index: 597;
    float: left;
}

ul.dropdown li {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -67px;
    z-index: 598;
    width: 150px;
}

ul.dropdown ul li {
    float: none;
    text-align: right;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
    background: rgba(255,255,255, 0.9);
    padding: 10px;
}

/* END dropDownMenu */

/* Стили для страницы Контакты*/
.logo-bg-contact {
    background: url('../img/img-bg-logo-contact.jpg');
    height: 430px;
}
.contact-block {
    width: 55%;
    margin: 0 auto;
}
.square-1 {
    height: 200px;
    width: 31%;
    background: #D3B000;
    float: left;
    display: inline-block;
    padding: 40px 30px;
    color: #fff;
}
.square-2 {
    height: 200px;
    width: 66%;
    background: url('../img/square-img.jpg');
    display: inline-block;
    float: left;
    margin-left: 1%;
}
.square-3 {
    height: 200px;
    width: 66%;
    display: inline-block;
    float: left;
    margin-right: 1%;
    margin-top: 0%;
    padding: 20px 40px;
}
.square-4 {
    height: 200px;
    width: 31%;
    float: left;
    display: inline-block;
    padding: 40px 30px;
    color: #D6D2D2;
    background: #212121;
}
.logo-bg-about {
    background: url('../img/cd-intro-about-bg.jpg') no-repeat center center;
    height: 430px;
}
.about-us-block {
    margin: 0 auto;
    width: 80%;
}
.main-content-services {
    background: #F1F1F1;
    display: flex;
}
.main-content-services-img {
    flex:0 0 50%;
}
.main-content-services-img img {
    width: 100%;
}
.main-content-services-txt {
    padding: 30px 40px;
    flex:0 0 50%;
}
.title-lvl3 {
    color: #505D68;
    font-size: 23px;
    font-weight: 600;
}
.service-content {
    display: flex;
}
.text-clmn-1, .text-clmn-2 {
    flex: 0 0 50%;
}
.text-clmn-2 ul li:before {
    content: '- ';
    font-size: 17px;
}
.text-clmn-2 ul {
    list-style-type: none;
    padding: 0px 5px;
}
.logo-bg-work {
    background: url('../img/work-logo-img .JPG') no-repeat center center;
    background-size: cover;
    height: 332px;
}
.description {
    text-align: center;
    margin: 80px;
}

/*HOVER*/

span.index-title:hover {
    cursor: pointer;

}

@keyframes cssload-breathe {
    0% {
        letter-spacing: 0;
        text-shadow: 0 0 1px white;
    }
    100% {
        transform:scale(0);
        text-shadow: 0 0 6px white;
        color: transparent;
    }
}

.title:hover {
    color: #DED6D6;
    cursor: pointer;
}
.title-lvl1:hover {
    color: #d4af37;
    cursor: pointer;
}
button:hover {
    border-color: #d4af37;
    text-decoration: underline;
    cursor: pointer;
}
span.table-title:hover {
    color: #d4af37;
    cursor: pointer;
}
.logo-bg-progect {
    background: url('../img/progect-bg-img.jpg') top center;
    height: 400px;
}
.progect-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 60px 0;
}
.col-2 {
    flex-basis: 66%;
}
.col-1 {
    flex-basis: 33%;
    text-align: center;

}
.title-lvl2 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin: 60px 0;
}
.photo-progect img {
    width: 100%;
    height: auto;
    margin: 15px 0;
}
.photo-progect {
    margin: 20px 9px 20px 0;
}
.col-1 img {
    width: 180px;
    height: 180px;
    margin: 0;
}
.col-1 div {
    margin:0 auto;
}
.social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.social-btn {
    background: none;
    border: 1px solid black;
    padding: 15px 64px;
}
.social-btn a {
    color: #000;
}
.social-btn:hover {
        border-color: #d4af37;
        text-decoration: underline;
        cursor: pointer;
}
.logo-bg-blog {
    background: url("../img/Layer-1.jpg") no-repeat;
    height: 400px;
}
.blog-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 30px 0;
}
.title-lvl4 {
    font-size: 24pt;
    color: rgb(77, 92, 102);
    text-transform: capitalize;
    margin: 10px 0;
}
.time {
    color: #d4af37;
    font-size: 13pt;
    text-transform: uppercase;
}
.btn-right {
    text-align: right;
}
.new {
    margin: 30px 0;
}
.news-list {
    padding: 30px 0;
}
.new-title {
    font-size: 21px;
    color: #7B868C;
    border-bottom: 2px solid #FFEB3B;
    text-align: left;
}
.short-description {
    text-align: left;
    padding: 10px 30px;
    font-style: italic;
}
.short-description.image {
    text-align: center;
}
.col-1 img {
    width: 180px;
    height: 180px;
    margin: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.clear {
    content: "";
    display: table;
    clear: both;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   @media (max-width: 1000px) {
    .blog-container {
        display:block;
    }
    .col-2 {
        flex-basis: 66%;
        text-align: center;
    }
    .short-description div {
        display: inline-block;
    }
    .col-1 img {
        width: 180px;
    }
   }
@media (max-width: 960px) {
    .header-top {
        height: 80px;
        background: black;
        opacity:0.5;
    }
    .logo-bg {
        background: url('../img/cd-intro-background-img.jpg') no-repeat center center;
        height: 600px;
        background-size: cover;
    }
    #logo {
        margin: 15px;
    }
    .dropdown li span {
        line-height: 40px;
    }
    span.index-title {
        line-height: 90px;
        margin-top: 130px;
    }
    .btn-ctr button {
        font-size: 13px;
    }
    .cd-container-people {
        display: block;
    }
    .people {
        width: 100%;
        margin-bottom: 40px;
    }
    .title {
        font-size: 15pt;
    }
    .info p {
        font-size: 13pt;
    }
    .image-4 img {
        height: 195px;
        width: 100%;
    }
    .side {
        width: 100%;
    }
    p.news-description {
        font-size: 19px;
    }
    .side.right button {
        font-size: 18px;
        padding: 15px 45px;
    }
    .contact {
        width: 100%;
    }
    .row-table {
        display: block;
    }
    .right-col, .left-col {
        width: 100%;
    }
    .copyright {
        width: 100%;
    }
    .contact-email {
        width: 100%;
    }
    .cd-container-home-blog {
        width: 100%;
    }
    .left-col p, .right-col p {
        padding: 0 23%;
    }
    footer.container {
        background: rgb(238,238,238);
        line-height: 40px;
    }
    .square-1 {
        width: 100%;
        font-size: 17px;
    }
    .square-2 {
        width: 100%;
        margin: 0;
    }
    .square-3 {
        width: 100%;
        height: 245px;
        margin: 0;
        padding: 20px;
    }
    .square-4 {
        width: 100%;
        text-align: center;
        height: auto;
    }
    .main-content-services-img {
        flex-basis: 100%;
    }
    .main-content-services {
        flex-direction: column;
    }
    .service-content {
        flex-direction: column;
    }
    .description {
        text-align: center;
        margin: 30px;
    }
    .new {
        width: 100%;
    }
    .blog-img img {
        width: 100%;
    }
    .progect-container {
        display: block;
        padding: 30px 0;
    }
    .photo-progect img {
        width: 80%;
        height: auto;
        margin: 15px 0;
        text-align: center;
    }
    .photo-progect-small div {
        display: inline-block;
    }
    .social{
        display:block;
    }
    .social-btn {
        background: none;
        width: 200px;
        border: 1px solid black;
        padding: 15px 64px;
        text-align: center;
        margin: 15px auto;
    }

}
@media (max-width: 600px) {
    .image-4 {
        width: 46%;
        display: inline-block;
    }

}
@media (max-width: 480px) {
      .logo-bg-contact {
          background: none;
          height: 100px;
      }
      .image-4 {
          width: 80%;
          margin: 0 auto;
          display: block;
      }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
